<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FORMATSTRING</key>
	<string>%C %c 🌡️%t (feels %f, %h) 🌬️%w %m&amp;m</string>
	<key>LINEADAY</key>
	<false/>
	<key>LINEADAYFILE</key>
	<string></string>
	<key>LINK_STYLE</key>
	<string>markdown</string>
	<key>NOTES_FOLDER</key>
	<string></string>
	<key>OPENWEATHER_KEY</key>
	<string></string>
	<key>SPECIAL_DAY</key>
	<string>05-11</string>
	<key>TEMPERATURE_UNIT</key>
	<string>fahrenheit</string>
	<key>WEATHER_SOURCE</key>
	<string>wttr</string>
	<key>WEEKLY</key>
	<false/>
	<key>WEEKLY_PLAN_FORMAT</key>
	<string>format1</string>
</dict>
</plist>
