<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FORMATSTRING</key>
	<string>%C %c 🌡️%t (feels %f, %h) 🌬️%w %m&amp;m</string>
	<key>SPECIAL_DAY</key>
	<string>05-11</string>
</dict>
</plist>
